- provide(:title, "プロフィール画面")
.row
  %h1 プロフィール画面
  %p
    =link_to gravatar_for(current_user, size: 50), current_user
  %p
    %b 名前:
    = @user.name
  %p
    %b メールアドレス:
    = @user.email
  %p
    %b 送付先住所:
    = @user.to_address
= link_to '編　集', edit_user_registration_path(@user)
|
= link_to '戻　る', home_show_path
