= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_area :address
  .field
    = f.label :pay_type
    = f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'お支払い方法を選択してください'
  .field
    = f.label :delivery_date
    = f.date_select :delivery_date, { use_month_numbers: true }
  .field
    = f.label :delivery_timezone
    = f.select :delivery_timezone, Order::TIMEZONE, prompt: '配送時間帯を選択してください'
  .field
    = f.hidden_field :user_id
  .actions
    = f.submit '注文する'
