- provide(:title, "注文情報")
%p#notice= notice

%h1 注文情報
%p
  %b Name:
  = @order.name
%p
  %b Address:
  = @order.address
%p
  %b Pay type:
  = @order.pay_type
%h2 購入商品
%table
  %thead
    %tr
      %th 商品名
      %th 価格
  %tbody
    - @order.line_items.each do |line_item|
      %tr
        %td= line_item.food.name
        %td= number_to_currency(line_item.food.price)
    %tr
      %td= '小計'
      %td= number_to_currency(@order.total_price)
    %tr
      %td= '代引き金額'
      %td= number_to_currency(@order.cash_on_delivery_price)
    %tr
      %td= '送料'
      %td= number_to_currency(@order.shipping_cost)
    %tr
      %td= '合計金額'
      %td= number_to_currency(@order.all_total_price)
%br
- if current_user.admin?
  = link_to 'Edit', edit_order_path(@order)
  \|
= link_to 'Back', orders_path
