%h1 Listing foods

%table
  %thead
    %tr
      %th Name
      %th Image
      %th Price
      %th Caption
      %th Display
      %th Order
      %th
      %th
      %th

  %tbody
    - @foods.each do |food|
      %tr
        %td= food.name
        %td= food.image
        %td= food.price
        %td= food.caption
        %td= food.display
        %td= food.order
        %td= link_to 'Show', food
        %td= link_to 'Edit', edit_food_path(food)
        %td= link_to 'Destroy', food, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Food', new_food_path
