- provide(:title, "商品一覧")

%h1 商品一覧

%table
  %thead
    %tr
      %th 商品名
      %th 商品画像
      %th 価格
      %th 商品説明
      %th 表示
      %th 並び順
      %th
      %th
      %th

  %tbody
    - @foods.each do |food|
      %tr
        %td= food.name
        %td= image_tag image_food_path(food)
        %td= food.price
        %td= food.caption
        %td= food.display
        %td= food.order
        %td= link_to '表示', food
        %td= link_to '編集', edit_food_path(food)
        %td= link_to '削除', food, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to '新規登録', new_food_path

