- provide(:title, "商品情報")
%p
  %b= t('activerecord.attributes.food.name')
  = @food.name
%p
  %b= t('activerecord.attributes.food.image')
  = image_tag image_food_path(@food), class: 'img-thumbnail', style: "max-height: 250px;"
%p
  %b= t('activerecord.attributes.food.price')
  = number_to_currency(@food.price)
- if current_user.admin?
  %p
    %b= t('activerecord.attributes.food.caption')
    = @food.caption
  %p
    %b= t('activerecord.attributes.food.display')
    = @food.display
  %p
    %b= t('activerecord.attributes.food.order_index')
    = @food.order_index
= link_to 'カートに入れる', line_items_path(food_id: @food), method: :post
\|
- if current_user.admin?
  = link_to '編　集', edit_food_path(@food)
  \|
  = link_to '削　除', @food, method: :delete, data: { confirm: '削除して宜しいですか？' }
  \|
= link_to '戻　る', foods_path
