%p#notice= notice

%p
  %b Name:
  = @food.name
%p
  %b Image:
  = @food.image
%p
  %b Price:
  = @food.price
%p
  %b Caption:
  = @food.caption
%p
  %b Display:
  = @food.display
%p
  %b Order:
  = @food.order

= link_to 'Edit', edit_food_path(@food)
\|
= link_to 'Back', foods_path
