%header.navbar.navbar-fixed-top.navbar-default
  .navbar-header
    = link_to "さくらマーケット", '#', class: "navbar-brand", id: "logo"
  .navbar-inner
    .container
      %nav
        %ul.nav.navbar-nav.navbar-left
          %li= link_to "日記を見る", '#'
          %li= link_to "お買い物", '#'
          %li= link_to "ショッピングカート", '#'
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "ログアウト", '#'
