%header.navbar.navbar-fixed-top.navbar-default
  .navbar-header
    = link_to "さくらマーケット", root_path, class: "navbar-brand", id: "logo"
  .navbar-inner
    .container
      %nav
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-left
            %li= link_to "日記を見る", '#'
            %li= link_to "お買い物", home_show_path
            - if session[:cart_id]
              %li= link_to "ショッピングカート", cart_path(session[:cart_id])
            - if current_user.admin?
              %li= link_to "商品管理", foods_path
              %li= link_to "ユーザー管理", users_path
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "ログイン", new_user_session_path

